rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Enable full read and write access for all Smart Valve app collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
